/*
Home Slide Show Start
/////////////////////////////////*/
.electron-slideshow {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.electron-slides {
	position: absolute;
	width: 100%;
	height: 100%;
}

.electron-slide {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	opacity: 0;
	pointer-events: none;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
	padding:20px;
}

.electron-slide-img:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    z-index: 1;
}

.electron-slide-title,
.electron-slide-desc,
.electron-slide-link {
    z-index: 2;
}

.electron-slide-current {
	opacity: 1;
	pointer-events: auto;
}

.electron-slide-img {
	position: absolute;
	top: -200px;
	left: -200px;
	width: calc(100% + 400px);
	height: calc(100% + 400px);
	background-size: cover;
	background-position: 50% 50%;
}

.electron-slidenav {
    position: absolute;
    width: 300px;
    margin-left: -150px;
    left: 50%;
    bottom: 0;
    text-align: center;
    padding: 2em;
    z-index: 3;
    color: var(--electron-light);
}

.electron-slidenav-item {
    border: 0;
    background: none;
    font-weight: bold;
    color: var(--electron-light);
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}

.electron-slidenav-item:focus {
	outline: none;
}

.electron-slidenav-item:hover {
	color: var(--electron-primary);
}

.electron-slideshow .shape {
	position: absolute;
	width: 100%;
	height: 100%;
	fill: var(--electron-gray-soft);
	top: 0;
	pointer-events: none;
}

.electron-slide-title {
	position: relative;
	font-size: 12vw;
	margin: 0;
	cursor: default;
	line-height: 1;
	color: var(--electron-light);
}

.electron-slide-desc {
    position: relative;
    font-size: 1.5em;
    line-height: 1.6;
    margin: 30px 0;
    cursor: default;
    color: var(--electron-light);
    padding: 0;
    max-width: 720px;
}
.electron-slideshow .electron-slide-link-wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.electron-slideshow .style-btn {
	position: relative;
	font-size: 1em;
	font-weight: bold;
	padding: 1em 2em;
	display: block;
	color: var(--electron-dark);
	background: var(--electron-light);
	transition: color 0.3s, background 0.3s;
}

.electron-slide-link:hover {
	color: var(--electron-light);
	background: var(--electron-dark);
}

.electron-slide-link2 {
    color: var(--electron-light);
    background: var(--electron-dark);
    display: flex;
    align-items: center;
    line-height: 0;
}

.electron-slide-link2:hover {
	background: var(--electron-light);
	color: var(--electron-dark);
}

.electron-slide-link-wrapper a {
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

@media(max-width:576px){
    .electron-slide-link-wrapper .electron-btn {
        padding: 14px 25px;
        font-size: 14px;
        min-width: auto;
    }
    .electron-slide-inner .electron-slide-head {
        font-size: 36px;
    }
    .electron-slide-inner .electron-slide-text {
        font-size: 14px;
    }
}
/*
Home Slide Show End
/////////////////////////////////*/
