/* 404 page */
.electron-error-content {
    max-width: 310px;
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
}

.electron-error-txt {
	font-size: 150px;
	font-weight: 600;
	margin-bottom: 20px;
	line-height: 1;
	color: var(--electron-primary);
}

.electron-error-content p {
	margin-bottom: 0;
}

.electron-error-content .search_form {
	margin-top: 25px;
}

.electron-error-area .search_form form {
	position: relative;
}

.electron-error-area .search_form form input {
	height: 50px;
	padding: 5px 60px 5px 20px;
	margin-bottom: 20px;
	box-shadow: none;
}

.electron-error-content .electron-fill-out {
	background: var(--electron-primary);
}

.electron-error-area .search_form form input:focus {
	height: 50px;
}

.electron-error-area .search_form .icon_search {
	position: absolute;
	right: 18px;
	top: 50%;
	padding: 0;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	border-radius: 0;
	padding-left: 15px;
	box-shadow: none;
	border: none;
	border-left: 1px solid #ddd;
	background: transparent;
	color: var(--electron-dark-soft);
}

.electron-error-area .search_form .icon_search i {
	font-size: 22px;
	margin-right: 0;
}

.electron-error-area .electron-btn {
	max-width: 200px;
}

.electron-error-area .text-center {
	text-align: center;
}
